<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>check</key>
	<dict>
		<key>wmatrix-plugin-app</key>
		<string>1.0.1</string>
		<key>wmatrix-plugin-camera</key>
		<string>1.0.0</string>
		<key>wmatrix-plugin-device</key>
		<string>1.0.1</string>
		<key>wmatrix-plugin-network</key>
		<string>1.0.0</string>
	</dict>
	<key>dependencies</key>
	<dict>
		<key>EmbedFramework</key>
		<dict>
			<key>GCDWebServers.xcframework</key>
			<array>
				<string>Default</string>
			</array>
			<key>WMApp.xcframework</key>
			<array>
				<string>wmatrix-plugin-app</string>
			</array>
			<key>WMCamera.xcframework</key>
			<array>
				<string>wmatrix-plugin-camera</string>
			</array>
			<key>WMDevice.xcframework</key>
			<array>
				<string>wmatrix-plugin-device</string>
			</array>
			<key>WMNetwork.xcframework</key>
			<array>
				<string>wmatrix-plugin-network</string>
			</array>
			<key>WMatrixMobile.xcframework</key>
			<array>
				<string>Default</string>
			</array>
			<key>ZipArchive.xcframework</key>
			<array>
				<string>Default</string>
			</array>
		</dict>
		<key>Framework</key>
		<dict>
			<key>GCDWebServers.xcframework</key>
			<array>
				<string>Default</string>
			</array>
			<key>WMApp.xcframework</key>
			<array>
				<string>wmatrix-plugin-app</string>
			</array>
			<key>WMCamera.xcframework</key>
			<array>
				<string>wmatrix-plugin-camera</string>
			</array>
			<key>WMDevice.xcframework</key>
			<array>
				<string>wmatrix-plugin-device</string>
			</array>
			<key>WMNetwork.xcframework</key>
			<array>
				<string>wmatrix-plugin-network</string>
			</array>
			<key>WMybridMobile.xcframework</key>
			<array>
				<string>Default</string>
			</array>
			<key>ZipArchive.xcframework</key>
			<array>
				<string>Default</string>
			</array>
		</dict>
		<key>Library</key>
		<dict/>
	</dict>
	<key>permissions</key>
	<dict>
		<key>NSCameraUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSLocalNetworkUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<array>
			<string>Default</string>
		</array>
	</dict>
	<key>plugins</key>
	<array>
		<dict>
			<key>ClassName</key>
			<string>WMAppPlugin</string>
			<key>Name</key>
			<string>WMAppPlugin</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>WMDevicePlugin</string>
			<key>Name</key>
			<string>WMDevicePlugin</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>WMApp</string>
			<key>Name</key>
			<string>WMApp</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>InAppUpdatePlugin</string>
			<key>Name</key>
			<string>InAppUpdatePlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>WMCameraPlugin</string>
			<key>Name</key>
			<string>WMCameraPlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>SamplePlugin</string>
			<key>Name</key>
			<string>SamplePlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>Logger</string>
			<key>Name</key>
			<string>Console</string>
			<key>Onload</key>
			<true/>
		</dict>
		<dict>
			<key>ClassName</key>
			<string>WMNetworkPlugin</string>
			<key>Name</key>
			<string>WMNetworkPlugin</string>
			<key>Onload</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
